/**
 * Styles for main activity proposal
 */
.section-portal .l-main .button.accept-main-activity-proposal,
.section-portal .l-main .button.accept-main-activity-proposal:hover {
    background-color: #43AC6A;;
}
.section-portal .l-main .button.reject-main-activity-proposal,
.section-portal .l-main .button.reject-main-activity-proposal:hover{
    background-color: #f04124;;
}
.section-portal .l-main .button.question-main-activity-proposal,
.section-portal .l-main .button.question-main-activity-proposal:hover{
    background-color: #483493;
}

/**
 * Styles for business programme proposal
 */
form#pum-expert-mycases-business-programme-proposal #edit-proposed-period .container-inline-date {
    float: left;
    clear: none;
}

.section-portal .l-main #pum-expert-mycases-business-programme-proposal button {
    background-color: #FE7500;
    border-color: #cb5e00;
}

.section-portal .l-main #pum-expert-mycases-business-programme-proposal button:hover{
    background-color: #cb5e00;
    border-color: #cb5e00;
}