.section-portal .l-main .button.accept-main-activity-proposal,
.section-portal .l-main .button.accept-main-activity-proposal:hover {
    background-color: #43AC6A;;
}
.section-portal .l-main .button.reject-main-activity-proposal,
.section-portal .l-main .button.reject-main-activity-proposal:hover{
    background-color: #f04124;;
}
.section-portal .l-main .button.question-main-activity-proposal,
.section-portal .l-main .button.question-main-activity-proposal:hover{
    background-color: #483493;
}